html, body {
    text-align: center;
}
#Tetris {
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #af4c93;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d12363;
  }

  
  .rules {
    flex: 1;
    margin-right: 20px;
  }
  
  .rules h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rules ul {
    list-style-type: disc;
    padding-left: 50px;
    list-style: none
  }
  
  .canvas-container {
    flex: 1;
  }
  