/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  /* background-color: #000; */
  background-image: url('backgrounds/retrowave4.jpg');
  background-size: cover;
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 48px;
  text-shadow: 2px 2px #FF0000;
}

button {
  margin: 20px;
  padding: 20px 40px;
  width: 390px;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  background-color: transparent;
  color: #FFF;
  border: 5px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

button:hover {
  transform: translateY(-9px);
}
