/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    /* background-color: #000; */
    background-image: url('../../../../../hub-style/backgrounds/retrowave4.jpg');
    background-size: cover;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#title{
    text-align: center;
    padding: 20px;
    font-size: 48px;
    text-shadow: 2px 2px #FF0000;
}


#backButton {
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 0 10px #ff1493;
    text-shadow: 0 0 15px #ff1493;
    transition: all 0.3s;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 8vw;
    height: 8vh;
    min-width: 200px;
}

#backButton:hover {
    transform: translateX(+10px);
}

#chessboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#chessboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 10px;
    padding-top: 60px;
    box-sizing: border-box;
    

}

.chessboard-row {
    display: flex;
}

.chessboard-tile {
    width: 60px;
    height: 60px;
    background-color: rgb(27, 25, 25);
    border: 1px solid rgb(172, 10, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}

#checssboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

img {
    width: 50px;
    height: 50px;
}